/* *{
    padding: 0px;
    margin: 0px;
} */

p {
    color: #ffc300;
    position: relative;
    margin: 250px;
  text-align: center;

}

.backButton, .button{
    color: #ffc300;
    position: relative;
margin-top: 250px;
text-align: center;
background-color: steelblue;

}

.backButton, .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
