*{
  padding: 0;
  margin: 0;
}


#menuTitle,#menuh4 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    }
    
    #menuTitle{
      font-size: 3em;
    }
    
     .menuButtons, .playButton{
    background-color: #31ffa0;
    color: black;
    padding: 25px;
    margin-top: 30px;
    justify-content: center;
    transition-duration: 0.4s;
    font-weight: bold;
    font-size: 1em;
    font-family: "Chewy";
    text-align: center;
    /* margin-left: 300px; */
    }
    
    .menuButtons,.playButton:hover {
        background-color: #4CAF50; /* Green */
        color: white;
      }
    
    .menuButtons, #settings{ 
        background-color: orange;
    color: black;
    padding: 25px;
    margin-top: 50px;
    justify-content: center;
    transition-duration: 0.4s;
    font-weight: bold;
    font-size: 1em;
    font-family: "Chewy";
    
    }
    
    .menuButtons, #settings:hover {
        background-color: #E67C00; 
        color: white;
      }
    
    .menuButtons, #exit {
        background-color: #a031ff;
        color: black;
        padding: 25px;
        margin-top: 50px;
        justify-content: center;
        transition-duration: 0.4s;
        font-weight: bold;
        font-size: 1em;
        font-family: "Chewy";
    
    } 
    .menuButtons, #exit:hover {
        background-color:  #7000D1; 
        color: white;
      }
    /* #7000D1 purple hover*/
    
    .menuButtons{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
        /* justify-content: center; */
        background-color: transparent;
        
    /* margin: 500px; */
    /* justify-content: center; */
    }
    
    .menu {
        justify-content: center;
        width: 100%;
        background-color: transparent;
      
    }

    p {
    font-size: 30px;
    position: relative;  
    color: white;
    }